@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto Serif&display=swap');

App, html, body {
  height: 100%;
  margin: 0;
}

div.date {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px black;
    font-family: Noto Serif;
    font-size: 2em;    
}

body {
    font-family: 'Figtree', sans-serif;
    font-size: 1.2em;
    color: white;
    background-color: #375099;
}

.titlecase {
  text-transform: capitalize;
  display: none
}

.folder .titleTextBox {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#folders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folder {
    user-select : none;
    margin-bottom: 1rem;
    min-width: 25rem;
    margin: 1rem;
    width: 20%;
    padding: 0rem;
    background-color: rgb(32 33 36 / 43%);
    border: 1px solid #000000;
    border-radius: 1rem;
}

.folder label, .folder .titleTextBox {
    padding:0.5rem;
    font-weight: 900;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    color: #ff5500;
    background-color: #ffffff0d;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    text-transform: capitalize;
}

.folder div.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  gap: 16px;
  padding: 16px; 
}

.folder div.items a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.folder a img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.folder a {color:white;}
.folder a:visited {color:white;}
.folder a:hover {
  color:yellow;
  text-decoration: underline;
  filter: brightness(2);
}
.folder a:active {color:white;} 

input#query {
  border: 0px;
  width: 75%;
  display: block;
  margin: auto;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
  opacity: 0.25;
  border-radius: 0.75rem;
}


button.flat {
  background-color: #000000;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  filter: brightness(1);
  border-radius: 1rem;
}

.spaceabove {
  margin-top: 2em;
}


div.dialog button.flat {
  background-color: #375099;
  width: 7rem;  
}

div.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.flat:Hover {
  filter: brightness(1.5);
}

div.dialog form div.field {
    display: flex;
    flex-wrap: wrap;
}

div.field label {
  width:100%
}

div.field input {
  width: 100%;
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
}

#root {
  height: 100%;
}

#root > div:nth-child(1) {
  height: 100%;
}

section.folder button.addButton {
  margin-top: 0.7em;
  margin-right: 1em;
}

section.folder input.titleTextBox {
  border: 0;
}

section.folder input.titleTextBox {
  color: red;
}

#editSwitch{
  float: right;
  margin-right: 1em;
}

header * {
  user-select: none;
}

button.deletebookmark, button.addButton {
  all: unset;
}

button.deletebookmark:hover, button.addButton:hover {
  cursor: pointer;
}

button.deletebookmark:hover {
  color: red;
}

button.addButton:hover {
  color: yellow;
}

button.deletebookmark {
  position: absolute;
  text-align: right;
  margin-left: 3rem;
  margin-top: -1rem;
}

button:focus {
  outline: revert;
}

div.actionbutton {
  padding-right: 0.5em;
  float: right;  
}

div.actionbutton button {
  height: 34px;
  width: 34px;
}

.actionbutton button span {
  display: block;
}

footer {
  font-size: 0.4em;
  color: white;
  border-top: solid white 1px;
  width: 50%;
  text-align: center;
  margin: 15em auto;
  padding-bottom: 7.5em;
  opacity: 0.25;
}

footer a {
  text-decoration: none;
}

heading {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
}

heading div.buttons {
  align-content: center;
}

div.field input {
  font-size: 1rem;
}

div.date {
  display: absolute;
  margin: auto;
}

dialog.logindialog{
  color: white;
  top: 50%;
  translate: 0 -50%;
  user-select : none;
  min-width: 25rem;
  width: 20%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.00);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
}

dialog.logindialog div.logo {
  height: 2.5em;
  background-position: center;
  margin-bottom: 2em;
}

[draggable=true]:active {
  cursor: move;
}

div.loginscreen footer {
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0;
}

dialog.logindialog.error {
  background-color: rgba(255, 0, 0, 0.5);
  animation: tilt-shaking 0.20s linear infinite;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}


@media only screen and (max-width: 900px) {
  div.date {
    display: none;
  }

  heading {
  grid-template-columns: 1fr 2fr;
}

  heading{
    height: 1.5em;
    margin-bottom: 1em;    
  }

  heading div.logo {
    height: 1.2em
  }

  dialog.logindialog{
    min-width: inherit;
    margin: 1em;
    width: auto;
    top: inherit;
    translate: inherit
  }

  
}

