@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background: linear-gradient(45deg, #221193, #3cbcc1);
  background-attachment: fixed;
  height: 100%;
  background-color: #116293;
}

.folder {
  border: inherit;
  background-color: rgb(32 33 36 / 20%);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);
}

.folder label, .folder .titleTextBox {
  color: orange;
  font-family: "Oswald", sans-serif;
}

section.folder input.titleTextBox {
  color: orangered;
}

header {
  text-shadow: inherit;
  font-family: inherit;
}

div.logo {
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: 1em;
}

#query {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

footer a {
  color: white;
  text-decoration:  underline;
}



@media only screen and (max-width: 900px) {
    body {
    background: inherit;  
    background-attachment: inherit;
    background-color: #116293;
  }
}
