:modal {
    color: #000000;
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5px);
    top: -20em;
}

:modal h1 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

:modal div.buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: right;
    gap: 1rem;
}

dialog.bookmark form {
    display: grid;
    grid-template-columns: 0.0fr auto;
    gap:1.5em;
}

dialog.bookmark section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}

dialog.bookmark div.icon {
    height: 7em;
    width: 7em;
    border: 1px solid #999999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    background-color: white;
}

