@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background-color: #647179;
  height: 100%;
}

.folder {
  border: inherit;
  background-color: rgb(32 33 36 / 20%);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);  
}

.folder label, .folder .titleTextBox {
  color: darkkhaki;
  font-family: "Oswald", sans-serif;
}

section.folder button.addButton {
  display:block;
  position: absolute;
  right: 0;
}

header {
  text-shadow: inherit;
  font-family: inherit;
  background-image: url("/public/images/logo.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: 1em;
}

#query {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
