header {

    .buttons {

        justify-content: right;

        .profile-menu {
            position: relative;

            .profile-header {
                display: flex;
                flex-direction: row;
                margin-right: 1em;
                float: right;
                height: 2em;
                cursor: pointer;
                align-items: center;
            }

            .profile-header img {
                border-radius: 50%;
                box-sizing: border-box;
                height: 2em;
                border: 1px solid black;
            }
            
            .menu-options {
                right: 1em;
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

                li {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            }
        }

        .profile-menu:hover {
            img {
                border: 1px solid white;
            }

            .menu-options{
                display: block;
            }
        }
    }


}